@model WebApplication1.Models.Customer

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>


<h3>@Model.Name</h3>
<ul>
    <li>
        <b>Name:</b> @Model.Name
    </li>
    <li>
        <b>ID:</b> @Model.id
    </li>
    <li>
        <b>Strasse:</b> @Model.Strasse
    </li>
    <li>
        <b>Ort:</b> @Model.PLZOrt
    </li>
</ul>
